{% extends "base.html" %}
{% block links %}
{{ super() }}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils/dateUtils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ui/summary.js') }}"></script>
{% endblock %}

{% block content %}
<div class="flex-column me-auto pt-5">
	<div class="input-group flex-row pb-2">
		<span class="input-group-text w-25">Number of Pumps</span>
		<input type="text" class="form-control" id="plotNumberPumpsDetails"/>
	</div>
	<div class="input-group flex-row pb-2">
		<span class="input-group-text w-25" id="plotTotalValueLabel">Total Value</span>
		<input type="text" class="form-control" id="plotTotalValueDetails"/>
	</div>
	<div class="input-group flex-row pb-2">
		<span class="input-group-text w-25" id="plotAverageValueLabel">Average Value</span>
		<input type="text" class="form-control" id="plotAverageValueDetails"/>
	</div>
</div>

<div id="scatterPlot"></div>

<div class="flex-column ms-auto w-50 pt-5">
	<div class="input-group flex-row pb-2">
		<span class="input-group-text w-25">Plot Type</span>
		<select id="plotTypeInput" name="plotTypeInput" class="form-select" onchange="summary.updatePlotType()"></select>
	</div>

	<div class="input-group flex-row">
		<span class="input-group-text w-25">Min Date</span>
		<input type="date" class="form-control" id="plotMinPicker" onchange="summary.updatePlot()"/>
	</div>
	<div class="input-group flex-row">
		<span class="input-group-text w-25">Max Date</span>
		<input type="date" class="form-control" id="plotMaxPicker" onchange="summary.updatePlot()"/>
	</div>

	<div class="d-flex flex-row-reverse p-3 column-gap-3">
		<button type="button" class="btn btn-primary" onclick="summary.resetFilters()">Reset Filters</button>
	</div>
</div>

<script type="text/javascript">
	summary.setEntries({{ entries|tojson|safe }});
	summary.initPlotTypes();
</script>
{% endblock %}