<li class="list-group-item d-flex justify-content-between align-items-center">
	<div class="d-sm-flex d-flex-row w-75 d-none">
		<div class="w-75"><span class="text-secondary">Entry time: </span>{{ item.timestamp }}</div>
		<div class="w-auto"><span class="text-secondary">Mass: </span>{{ item.mass }}g</div>
	</div>
	<div class="d-block d-flex-row w-65 d-sm-none">
		<div class="w-100"><span class="text-secondary">Entry time: </span>{{ item.timestamp }}</div>
		<div class="w-100"><span class="text-secondary">Mass: </span>{{ item.mass }}g</div>
	</div>
	<div class="w-auto">
		<button type="button" class="btn btn-secondary" onclick="entry.show('Update', {{item}})">
			Edit <i class="bi-pencil"></i>
		</button>
		<button type="button" class="btn btn-danger" onclick="entry.show('Want to delete?', {{item}}, true)">
			<i class="bi-trash"></i>
		</button>
	</div>
</li>