{% extends "base.html" %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/utils/dateUtils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ui/entry.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/clients/clientBase.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/clients/boobjuiceClient.js') }}"></script>
{% endblock %}

{% block content %}
{% include "views/entryView.html" %}

<div class="d-flex flex-row-reverse p-3 column-gap-3">
	<button type="button" class="btn btn-primary" onclick="entry.show('Insert')">Manual Entry</button>
</div>

<ul class="list-group">
{% for item in entries %}
	{% include "views/entryItemView.html" %}
{% endfor %}
</ul>
{% endblock %}