{% extends "base.html" %}
{% block links %}
{{ super() }}
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/utils/dateUtils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ui/summary.js') }}"></script>
{% endblock %}

{% block content %}
<div id="scatterPlot"></div>

<div class="input-group flex-row">
	<span class="input-group-text col-2">Min Date</span>
	<input type="date" class="form-control" id="plotMinPicker" onchange="summary.updatePlot()"/>
</div>
<div class="input-group flex-row">
	<span class="input-group-text col-2">Max Date</span>
	<input type="date" class="form-control" id="plotMaxPicker" onchange="summary.updatePlot()"/>
</div>

<script type="text/javascript">
	summary.setEntries({{ entries|safe }});
</script>
{% endblock %}